.container {
    width: 500px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.shadow {
    padding: 10px;
    text-shadow: 0px 0px 4px #000000;
}

i {
    font-size: 20px;
    padding: 0 10px;
}

.line-through {
    color: #777777;
    text-decoration: line-through;
}

.button {
    color: #ffffff;
    padding: 7px;
    background: #016ee9;
    border: none;
    border-radius: 25px;
    text-shadow: 0px 0px 12px #016ee9;
}

header {
    height: 200px;
    background: url("../img/bg.jpg") no-repeat top;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #ffffff;
    font-size: 16px;

    .error {
        background: #fe5778;
        border: none;
        border-radius: 25px;
        transition-duration: 0.5s;
        opacity: 0;
        position: fixed;
        top: 10px;
        padding: 10px;
        width: 220px;
        margin-left: 110px;

        p {
            margin: auto;
        }
    }

    p {
        float: left;
        margin: 0;
    }

    i {
        float: right;
    }
}

section {
    height: 400px;
    background: #eaf1fc;
    padding-top: 1px;

    .list {
        padding: 0 10px;

        .item {
            margin: 0 20px;
            list-style: none;
            background: #ffffff;
            margin: 5px 0;
            border-radius: 5px;
            padding: 10px 20px;


            .fa-check-circle {
                margin-right: 10px;
            }

            span {
                color: #050942;
                padding: 10px 0;
            }

            .delete {
                float: right;
            }
        }
    }

    .add-item {
        position: fixed;
        bottom: 0;
        width: 100%;
        margin: 0;
        padding: 10px 10px;
        background: #ffffff;

        a:hover {
            color: #003399;
        }

        input {
            width: 400px;
            padding: 5px 5px;
            margin-left: 5px;
            border: none;
        }
    }
}